.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

:root {
  --accent-color: #1AA090;
  /* --secondary-color: #E2EAF1; */
  --dark-color: #121B25;
  --grey-color: #83898F;
  --body-text-color: #FFFFFF;
  --light-text-color: #D6D6D6;
  --link-color: #092035;
}

/** Typography
  --------------------------------------------------------------*/
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.6em;
  color: var(--body-text-color);
  background-color: var(--dark-color);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  color: var(--body-text-color);
}

h1,
.h1 {
  font-size: 68px;
}

h2,
.h2 {
  font-size: 48px;
}

@media only screen and (max-width: 500px) {

  h1,
  .h1 {
    font-size: 58px;
  }

  h2,
  .h2 {
    font-size: 40px;
  }
}

em {
  font-weight: 700;
}

ul {
  padding: 0;
}

p {
  font-family: 'Work Sans', sans-serif;
  color: var(--light-text-color);
  font-size: 18px;
}

a {
  color: var(--light-text-color);
  text-decoration: none;
  transition: all 0.3s ease-out;
}

a:hover {
  color: var(--body-text-color);
}


li.residence-list {
  list-style: none;
  margin-right: 10px;
}

i {
  color: var(--light-text-color);
}

i:hover {
  color: var(--body-text-color);
  text-decoration: none;
}


/* Bootstrap button style  */
.btn {
  --bs-btn-border-radius: 0 rem;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--accent-color);
  --bs-btn-border-color: var(--accent-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--accent-color);
  --bs-btn-hover-border-color: var(--accent-color);

  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--accent-color);
  --bs-btn-active-border-color: var(--accent-color);

  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--accent-color);
  --bs-btn-disabled-border-color: var(--accent-color);
}

.btn-outline-primary {
  --bs-btn-color: var(--accent-color);
  --bs-btn-border-color: var(--accent-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--accent-color);
  --bs-btn-hover-border-color: var(--accent-color);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--accent-color);
  --bs-btn-active-border-color: var(--accent-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--accent-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--accent-color);
  --bs-gradient: none;
}


/*---- navbar section start ---- */
.text-white .nav-link.active,
.text-white .nav-link:focus,
.text-white .nav-link:hover {
  color: var(----body-text-color);
}

.nav-link.active,
.nav-link:focus,
.nav-link:hover {
  color: var(----body-text-color);
}

.nav-link {

  color: var(--light-text-color);
  font-size: 16px;
  position: relative;
}

.nav-link:not(.dropdown-toggle):after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  background: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  transition: width 0.3s ease-out;
}

.dropdown-menu {
  --bs-dropdown-border-radius: 0px;
  --bs-dropdown-link-active-bg: var(--grey-color);
  min-width: max-content;
}

.nav-link.active:after {
  width: 100%;
}

/* login form  */
a.password:hover {
  color: var(--link-color);
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--dark-color);
  outline: 0;
  box-shadow: 0 0 0 0.25rem #ffffffea;
}

.bg-dark {
  background-color: var(--dark-color) !important;
}

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  transition: background 0.3s ease-out;
}

a.navbar-brand {
  color: var(--body-text-color);
}

a.nav-link.dropdown-toggle {
  color: #D6D6D6;
  font-size: 16px;
}

.offcanvas.show {
  background-color: var(--dark-color);
}



/*---- billboard section start ----  */
.row.billboard-row {
  display: flex;
}

.form-select {
  border: 1px solid transparent;
  border-radius: none;
}

.form-select:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 0.25rem transparent;
}

.billboard-select {
  border-right: 1px solid #E8E8E8;
  padding-right: 20px;
  padding-top: 25px;
}

.billboard-btn {
  padding-left: 0px;
}

nav.navbar.navbar-expand-lg.billboard-nav {
  min-width: 782px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  background: #fff;
}

button.btn.btn-primary.btn-lg.billboard-search {
  padding: 24px;
  border: 5px solid white;
  width: 100%;
}

#billboard {
  margin-top: 100px;
  margin-bottom: 80px;
}

@media only screen and (max-width: 1000px) {
  nav.navbar.navbar-expand-lg.billboard-nav {
    min-width: 20%;
  }

  .billboard-select {
    border-right: none;
  }

  .billboard-btn {
    padding-left: 12px;
  }

}



/*---- residence section start ----  */

.card {
  --bs-card-border-width: none;
  --bs-card-border-radius: none;
  --bs-card-inner-border-radius: none;
  background-color: transparent !important;

}

.card-title {
  font-size: 26px;
}

section#residence {
  background-image: url(images/residence.png);
  position: relative;
}

.swiper-button-next.residence-arrow,
.swiper-button-prev.residence-arrow {
  background: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: initial;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 270px;
  z-index: 5;
  cursor: pointer;
  --swiper-navigation-size: 20px;
  font-weight: bold;
  margin-top: 70px;
  margin-right: 20px;
  margin-left: 20px;
}

li.residence-list {
  padding-right: 20px;
}

.residence-btn {
  display: flex;
  justify-content: center;
}

button.btn.btn-primary.btn-lg.my-lg-5 {
  padding: 22px 42px;
}



/*---- testimonial section start ---- */
p.testimonial-p {
  font-size: 32px;
  color: var(--body-text-color);
}

.testimonial-swiper-button {
  bottom: 135px;
  right: 213px;
  width: 120px;
}

.swiper-button-prev.testimonial-arrow,
.swiper-button-next.testimonial-arrow {
  color: #FFFFFF;
  --swiper-navigation-size: 30px;
  font-weight: bold;
}

.arrow-divider {
  font-size: 30px;
  color: var(--grey-color);
  padding-left: 56px;
  padding-bottom: 6px;
}

@media only screen and (max-width: 900px) {
  p.testimonial-p {
    font-size: 25px;
    color: var(--body-text-color);
  }

}


/*---- footer section start ----  */
section#footer {
  background: #1A242F;
}

.link-primary {
  color: var(--light-text-color) !important;
  border-bottom: 1px solid var(--light-text-color);
}

.link-primary:hover {
  color: var(--body-text-color) !important;

}

footer.row {
  padding: 120px 0px;
}



/*---- pages start ---- */
section#page-billboard {
  margin-top: 180px;
  margin-bottom: 80px;
}




/*--------------------------------------------------------------
about page style start
--------------------------------------------------------------*/

img.abt-img {
  width: inherit;
}


/*--------------------------------------------------------------
blog page style start
--------------------------------------------------------------*/

.pagination {
  --bs-pagination-color: var(--dark-color);
  --bs-pagination-active-bg: var(--accent-color);
  --bs-pagination-active-border-color: var(--grey-color);
}


.post-item {
  max-width: 370px;
  margin-bottom: 30px;
}

.post-grid .post-item .post-image {
  width: 100%;
}

.post-item .btn-link {
  display: block;
  color: var(--light-text-color);
  position: relative;
  margin-top: 20px;
  text-decoration: none;
}

.post-item .post-image {
  margin-right: 20px;
}

.post-item .btn-link:hover:after {
  width: 90px;
}

.post-item .btn-link:after {
  content: '';
  display: block;
  border-bottom: 1px solid var(--light-text-color);
  width: 20px;
  transition: width 0.3s ease-out;
}

.btn-link,
.btn-link:hover {
  color: var(--body-text-color);
}




/*--------------------------------------------------------------
Contact page style start
--------------------------------------------------------------*/

.padding-large {
  padding-top: 7em;
  padding-bottom: 7em;
}




/*--------------------------------------------------------------
single-post page style start
--------------------------------------------------------------*/

.commentorImg {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}




/*--------------------------------------------------------------
style page style start
--------------------------------------------------------------*/

/* chocolat style  */
.chocolat-wrapper {
  z-index: 99999;
}

.accordion-button:not(.collapsed) {
  color: var(--body-text-color);
  background-color: transparent;
}

.accordion {
  --bs-accordion-color: var(--light-text-color);
  --bs-accordion-bg: none;
  --bs-accordion-btn-color: var(--body-text-color);
  --bs-accordion-btn-icon: url('https://api.iconify.design/eva/arrow-up-fill.svg?color=white');
  --bs-accordion-btn-active-icon: url('https://api.iconify.design/eva/arrow-up-fill.svg?color=white');
}

.accordion-button:focus {
  z-index: 3;
  border-color: none;
  box-shadow: none;
}

.nav-tabs {
  --bs-nav-tabs-border-width: none;
  --bs-nav-tabs-link-active-color: none;
  --bs-nav-tabs-link-active-bg: none;
  border-bottom: 1px solid var(--light-text-color);
}

.card.style-card.mb-4.rounded-3.shadow-sm {
  --bs-card-border-width: 1px;
  --bs-card-border-color: var(--light-text-color);
}

.border-primary {

  border-color: var(--accent-color) !important;

}

button.btn.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #424649;
  --bs-btn-border-color: #424649;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #212529;
  --bs-btn-hover-border-color: #212529;
}


.bg-primary {
  background-color: var(--accent-color) !important;
}

.table-dark {
  --bs-table-border-color: none;
}

.bi {
  fill: #fff;
}


/*--------------------------------------------------------------
reviews page style start
--------------------------------------------------------------*/
.reviews-components {
  border: 1px solid var(--light-text-color);
  box-shadow: 0px 12px 90px rgba(12, 12, 12, 0.06);
  border-radius: 9px;
}

iconify-icon.quote {
  font-size: 60px;
  color: var(--accent-color);
}

.rate {
  color: var(--accent-color);
}




/*--------------------------------------------------------------
Properties page style start
--------------------------------------------------------------*/

.form-check-input:checked {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

/* price slider style  */
.price-input {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}

.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}

.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-input .separator {
  /* width: 130px; */
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}

.slider .progress {
  height: 100%;
  left: 5%;
  right: 90%;
  position: absolute;
  border-radius: 5px;
  background: var(--accent-color);
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: var(--accent-color);
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: var(--accent-color);
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}


.swatch-element .swatch-label {
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  min-width: 50px;
  height: 50px;
  border: 1px solid var(--bs-gray);
  transition: all 0.3s;
  cursor: pointer;
  padding: 8px;
}

.swatch-element .swatch-input {
  display: none;
}

.swatch-element .swatch-input:checked+.swatch-label {
  border: 3px solid var(--accent-color);
}


/*--------------------------------------------------------------
Properties-single page style start
--------------------------------------------------------------*/

iconify-icon.property-icon {
  color: var(--body-text-color);
  font-size: 30px;

}

/* Estilos para el grid de información */
.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-bottom: 20px;
}

.info-item {
  background: rgba(255, 255, 255, 0.05);
  padding: 12px;
  border-radius: 8px;
  border-left: 4px solid #dc3545;
  transition: all 0.3s ease;
}

.info-item:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
}

.info-label {
  display: block;
  color: #17a2b8;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.info-value {
  display: block;
  color: #ffffff;
  font-weight: 500;
}

.modal-transformacion {
  border: 3px solid #dc3545;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(135deg, #0f172a 0%, #1e293b 100%);
}

/* Estilos para CardTransformaciones */
.card-transformacion {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.card-transformacion:hover {
  z-index: 10;
}

.text-transform {
  background: linear-gradient(45deg, #dc3545, #ff6b6b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 15px;
}

.info-item {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background: rgba(13, 110, 253, 0.05);
  border-radius: 8px;
  border-left: 3px solid #dc3545;
}

.info-label {
  font-weight: bold;
  color: #495057;
  font-size: 0.9rem;
}

.info-value {
  color: #212529;
  font-weight: 500;
}

.modal-transformacion {
  border: 3px solid #dc3545;
  border-radius: 15px;
  overflow: hidden;
}

/* Animaciones personalizadas */
@keyframes glow {

  0%,
  100% {
    box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
  }

  50% {
    box-shadow: 0 0 20px rgba(220, 53, 69, 0.8);
  }
}

.btn-glow {
  animation: glow 2s ease-in-out infinite;
}

/* Efecto de brillo en hover */
.img-glow:hover {
  filter: drop-shadow(0 0 10px rgba(220, 53, 69, 0.7));
}

/* Estilos para el grid de información (igual que transformaciones) */
.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-bottom: 20px;
}

.info-item {
  background: rgba(255, 255, 255, 0.05);
  padding: 12px;
  border-radius: 8px;
  border-left: 4px solid #dc3545;
  transition: all 0.3s ease;
}

.info-item:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
}

.info-label {
  display: block;
  color: #17a2b8;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.info-value {
  display: block;
  color: #ffffff;
  font-weight: 500;
}

.modal-transformacion {
  border: 3px solid #dc3545;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(135deg, #0f172a 0%, #1e293b 100%);
}

/* Estilos para el tema claro/oscuro */

/* Transición suave para cambios de tema */
body,
.app {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos específicos para modo oscuro */
.dark-mode {
  background-color: #121212 !important;
  color: #ffffff !important;
}

.dark-mode .card {
  background-color: #1e1e1e !important;
  border-color: #333 !important;
}

.dark-mode .modal-content {
  background-color: #1e1e1e !important;
  color: #ffffff !important;
}

/* Estilos específicos para modo claro */
.light-mode {
  background-color: #f8f9fa !important;
  color: #212529 !important;
}

.light-mode .card {
  background-color: #ffffff !important;
  border-color: #dee2e6 !important;
}

.light-mode .modal-content {
  background-color: #ffffff !important;
  color: #212529 !important;
}

/* Botón de tema */
.btn-theme-toggle {
  transition: all 0.3s ease;
}

.btn-theme-toggle:hover {
  transform: scale(1.05);
}

/* Ajustes para inputs en diferentes temas */
.dark-mode .form-control {
  background-color: #2d3748 !important;
  color: #ffffff !important;
  border-color: #4a5568 !important;
}

.light-mode .form-control {
  background-color: #ffffff !important;
  color: #212529 !important;
  border-color: #ced4da !important;
}

/* Ajustes para dropdowns */
.dark-mode .dropdown-menu {
  background-color: #2d3748 !important;
  color: #ffffff !important;
}

.light-mode .dropdown-menu {
  background-color: #ffffff !important;
  color: #212529 !important;
}